// 1. Importer le module de couleur Sass
@use "sass:color";
/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.max-width {
    max-width: 1100px;
    margin: auto;
}

button {
    background-color: color.adjust(#000000, $blue: 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 250ms ease-in-out;

    &:hover {
        opacity: 0.8;
        scale: 0.95;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

